version: '3.4'
services:
  keep-client-ropsten.public.dappnode.eth:
    build: ./build
    environment:
      - ANNOUNCED_ADDRESSES
      - 'HTTP_RPC_URL=http://ropsten.dappnode:8545/'
      - KEEP_ETHEREUM_PASSWORD
      - LOG_LEVEL=debug
      - PEERS="/dns4/bootstrap-1.core.keep.test.boar.network/tcp/3001/ipfs/16Uiu2HAkuTUKNh6HkfvWBEkftZbqZHPHi3Kak5ZUygAxvsdQ2UgG,/dns4/bootstrap-2.core.keep.test.boar.network/tcp/3001/ipfs/16Uiu2HAmQirGruZBvtbLHr5SDebsYGcq6Djw7ijF3gnkqsdQs3wK,/dns4/bootstrap-3.test.keep.network/tcp/3919/ipfs/16Uiu2HAm8KJX32kr3eYUhDuzwTucSfAfspnjnXNf9veVhB12t6Vf,/dns4/bootstrap-2.test.keep.network/tcp/3919/ipfs/16Uiu2HAmNNuCp45z5bgB8KiTHv1vHTNAVbBgxxtTFGAndageo9Dp"
      - 'WS_RPC_URL=ws://ropsten.dappnode:8546/'
    image: 'keep-client-ropsten.public.dappnode.eth:0.2.2'
    restart: unless-stopped
    ports:
      - '3919:3919'
    volumes:
      - 'persistence:/mnt/persistence'
      - 'keystore:/mnt/keystore'
volumes:
  persistence: {}
  keystore: {}
